body {
    background-color: WhiteSmoke;
    text-align: center; 
}


h1 {
    color: SlateGray;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: SlateGray;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


.Main-Tile {
    padding: 5% 25%;;
} 
